{
  "presets": ["react-native"],
  "env": {
    "mocha": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "@redux": "./src/redux",
            "@lib": "./src/lib"
          }
        }]
      ]
    }
  },
}
